.search-wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  background-color: hsl(0, 0%, 100%);
  ;
  justify-content: flex-start;

  .search-elements {
    width: 100%;
    display: inline-grid;

    input {
      display: flex;
      align-items: center;
      border-radius: 5px;
      height: 50px;
      width: 300px;
      padding-left: 1rem;
      font-size: 1.5rem;
      ;

    }

    .search-term {
      margin-top: 1rem;

      .term {
        font-weight: bold;
      }
    }

  }
}
